<div class="sidebar blog">
    <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'nav' }) %>
    </ul>
    <div class="list">
        <h2>
            Recent Posts
            <a href="<%- url_for("/atom.xml") %>" target="_blank" style="vertical-align: middle; margin-left: 5px">
                <img src="<%- url_for("/images/feed.png") %>" style="width:15px;height:15px">
            </a>
        </h2>
        <ul style="padding:0">
        <% site.posts.sort('date', -1).limit(10).each(function (post) { %>
            <li>
                <a href="/<%- post.path %>" class="sidebar-link<%- page.title === post.title ? ' current' : '' %>"><%- post.title %></a>
            </li>
        <% }) %>
        </ul>
    </div>
</div>
<div class="content with-sidebar blog post">
    <h1><%- page.title %></h1>
    <h4><%- page.date.format('MMM D[,] YYYY') %></h4>
    <%- page.content %>
</div>
<div class="footer">
    Caught a mistake or want to contribute to the documentation?
    <!-- <a href="https://github.com/entrylabs/docs/blob/master/src/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank"> -->
    <a href="https://github.com/entrylabs/docs/blob/master/source/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank">
      Edit this page on Github!
    </a>
    <div id="disqus_thread"></div>
    <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://entryhw.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
