<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li>
  <a href="<%- url_for("/entryjs/") %>" class="nav-link<%- page.path.match(/entryjs/) ? ' current' : '' %>" itemprop="url">EntryJS Guide</a>
</li>
<li>
  <a href="<%- url_for("/guide/") %>" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>" itemprop="url">Dev Guide</a>
</li>
<li>
    <a href="<%- url_for("/user/") %>" class="nav-link<%- page.path.match(/user/) ? ' current' : '' %>" itemprop="url">User Guide</a>
</li>
<li>
  <a href="http://github.com/entrylabs/" target="_blank" class="nav-link" itemprop="url">GitHub</a>
</li>
