<ul class="menu-root">
    <%
        function makeList(category) {
        %>
            <% type !== 'api' && site.pages.find({type: type, category: category}).sort('order').each(function (p) { %>
                <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
                <% if (type === 'entryjs' || type === 'guide' || type==="userGuide") { %>
                    <%
                        if (p.category != nowCategory) {
                            nowCategory = p.category;
                    %>
                        <li><h3><%- p.category%></h3></li>
                    <% } %>
                <% } %>
                <li>
                    <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.path === p.path ? ' current' : '' %><%- p.is_new ? ' new' : '' %>" itemprop="url"><%- p.title %></a>
                </li>
            <% }) %>
        <%
        }
    %>
    <% var nowCategory = ''; %>
    <% makeList('Quick Start'); %>
    <% makeList('Basic'); %>
    <% makeList('Entry JS'); %>
    <% makeList('Entry HW'); %>
    <% makeList('Entry Offline'); %>
    <% makeList('작품'); %>
    <% makeList('화면의 구성 요소'); %>
    <% makeList('블록'); %>
    <% makeList('Etc.'); %>
    <% makeList('시작하기'); %>
    <% makeList('API문서'); %>
</ul>
